@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  background: #fbc531;
  /*botones*/
  background: #f6f6dc;
  /*banner*/
  background: #f5f5f5;
  /*Secciones*/
  background: #ffffff;
  /*Secciones*/
  font-family: 'Lato', sans-serif;
  color: #2c3e50;
}

.navbar-brand {
  display: flex;
  align-items: center;
}


.text-codlat {
  color: #fbc531 !important;
}

.btn-codlat {
  background: #fbc531;
  color: white
}



#navbar img {
  width: 50px;
  margin-right: 10px;
}

#main .carousel-inner img {
  height: 70vh;
  object-fit: cover;
  filter: grayscale(0.7);
}

#carousel {
  position: relative;
}



#carousel .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#speakers img {
  height: 270px;
  object-fit: cover;
}

#place-time {
  background: #f6f6dc;
}

#place-time img {
  max-width: 100%;

}


#footer {
  background: #2c3e50;
  color: #2c3e50;
}

#footer a {
  color: #fff;
}